In [1]:
import numpy as np
import pandas as pd
from sklearn.ensemble import RandomForestClassifier

In [2]:
heart  = pd.read_csv("heart-disease.csv")
heart

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
x = heart.drop("target" , axis = 1)
x

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2

In [4]:
y = heart["target"]
y

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

In [5]:
clf = RandomForestClassifier()

In [6]:
from sklearn.model_selection import train_test_split

x_train, x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

In [7]:
clf.fit(x_train,y_train); ##training model

In [8]:
a = clf.predict(x_test) #predicting target column

In [9]:
clf.score(x_test, y_test)

0.7868852459016393

In [10]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score
print(classification_report(y_test , a))

              precision    recall  f1-score   support

           0       0.73      0.81      0.77        27
           1       0.84      0.76      0.80        34

    accuracy                           0.79        61
   macro avg       0.79      0.79      0.79        61
weighted avg       0.79      0.79      0.79        61

In [11]:
#improving the model
np.random.seed(42)
for i in range(10,100,10):
    clf = RandomForestClassifier( n_estimators=i)
    print(f"Trying model with {i} classifier : ")
    clf.fit(x_train,y_train)
    print(f"Accuracy of {i} model is {clf.score(x_test, y_test)*100}%")
    print("")

Trying model with 10 classifier :
Accuracy of 10 model is 80.32786885245902%

Trying model with 20 classifier :
Accuracy of 20 model is 81.9672131147541%

Trying model with 30 classifier :
Accuracy of 30 model is 81.9672131147541%

Trying model with 40 classifier :
Accuracy of 40 model is 81.9672131147541%

Trying model with 50 classifier :
Accuracy of 50 model is 85.24590163934425%

Trying model with 60 classifier :
Accuracy of 60 model is 78.68852459016394%

Trying model with 70 classifier :
Accuracy of 70 model is 80.32786885245902%

Trying model with 80 classifier :
Accuracy of 80 model is 83.60655737704919%

Trying model with 90 classifier :
Accuracy of 90 model is 78.68852459016394%

In [12]:
#saving and loading the model
import pickle
pickle.dump(clf ,open("model-practise1.pkl" , "wb"))

In [13]:
new = pickle.load(open("model-practise1.pkl", "rb"))

In [14]:
new

RandomForestClassifier(n_estimators=90)

In [15]:
new.score(x_train,y_train)

1.0

In [16]:
new.score(x_test , y_test)

0.7868852459016393

In [17]:
accuracy_score(y_test , a)

0.7868852459016393

In [18]:
from sklearn.metrics import classification_report , confusion_matrix , accuracy_score

In [19]:
confusion_matrix(y_test, a)

array([[22,  5],
       [ 8, 26]], dtype=int64)

In [20]:
car = pd.read_csv("car-sales-extended.csv")
car

       Make Colour  Odometer (KM)  Doors  Price
0     Honda  White          35431      4  15323
1       BMW   Blue         192714      5  19943
2     Honda  White          84714      4  28343
3    Toyota  White         154365      4  13434
4    Nissan   Blue         181577      3  14043
..      ...    ...            ...    ...    ...
995  Toyota  Black          35820      4  32042
996  Nissan  White         155144      3   5716
997  Nissan   Blue          66604      4  31570
998   Honda  White         215883      4   4001
999  Toyota   Blue         248360      4  12732

[1000 rows x 5 columns]

In [21]:
car["Doors"].value_counts() ##categorizing values

4    856
5     79
3     65
Name: Doors, dtype: int64

In [22]:
x = car.drop("Price", axis = 1)
y = car["Price"]
x

       Make Colour  Odometer (KM)  Doors
0     Honda  White          35431      4
1       BMW   Blue         192714      5
2     Honda  White          84714      4
3    Toyota  White         154365      4
4    Nissan   Blue         181577      3
..      ...    ...            ...    ...
995  Toyota  Black          35820      4
996  Nissan  White         155144      3
997  Nissan   Blue          66604      4
998   Honda  White         215883      4
999  Toyota   Blue         248360      4

[1000 rows x 4 columns]

In [23]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer


one_hot = OneHotEncoder()
column = ["Make" , "Colour","Doors"]
transformer = ColumnTransformer([("one_hot" , one_hot , column )] , remainder = "passthrough")

In [24]:
transformed_x = transformer.fit_transform(x)
transformed_x

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [25]:
x_train , x_test , y_train , y_test = train_test_split(transformed_x , y , test_size = 0.2)

In [26]:
from sklearn.ensemble import RandomForestRegressor
model = RandomForestRegressor()
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.259996418764183

In [27]:
y_pred = model.predict(x_test)

In [28]:
car_missing = pd.read_csv("car-sales-extended-missing-data.csv")
car_missing.head(10)

     Make Colour  Odometer (KM)  Doors    Price
0   Honda  White        35431.0    4.0  15323.0
1     BMW   Blue       192714.0    5.0  19943.0
2   Honda  White        84714.0    4.0  28343.0
3  Toyota  White       154365.0    4.0  13434.0
4  Nissan   Blue       181577.0    3.0  14043.0
5   Honda    Red        42652.0    4.0  23883.0
6  Toyota   Blue       163453.0    4.0   8473.0
7   Honda  White            NaN    4.0  20306.0
8     NaN  White       130538.0    4.0   9374.0
9   Honda   Blue        51029.0    4.0  26683.0

In [29]:
#eliminating missing with pandas
car_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [30]:
car_missing["Make"].fillna("missing",inplace = True)
car_missing["Colour"].fillna("missing",inplace = True)
car_missing["Odometer (KM)"].fillna(car_missing["Odometer (KM)"].mean(),inplace = True)
car_missing["Doors"].fillna(4,inplace = True)

In [31]:
car_missing.dropna(inplace = True)

In [32]:
x = car_missing.drop("Price",axis =1 )
y = car_missing["Price"]

In [33]:
x.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
dtype: int64

In [34]:
pd.DataFrame(x)

        Make Colour  Odometer (KM)  Doors
0      Honda  White        35431.0    4.0
1        BMW   Blue       192714.0    5.0
2      Honda  White        84714.0    4.0
3     Toyota  White       154365.0    4.0
4     Nissan   Blue       181577.0    3.0
..       ...    ...            ...    ...
995   Toyota  Black        35820.0    4.0
996  missing  White       155144.0    3.0
997   Nissan   Blue        66604.0    4.0
998    Honda  White       215883.0    4.0
999   Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [35]:
from sklearn.preprocessing import OneHotEncoder ###############################
from sklearn.compose import ColumnTransformer

In [36]:
one_hot = OneHotEncoder()
column = ["Make","Colour","Doors"]
tranformer = ColumnTransformer([("hot",one_hot,column)],remainder = "Passthrough")
transformed_x = transformer.fit_transform(x)

In [37]:
transformed_x

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [38]:

y.isna().sum()

0

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor

x_train , x_test , y_train , y_test = train_test_split(transformed_x , y , test_size = 0.2)
model = RandomForestRegressor()
model.fit(x_train , y_train)
model.score(x_test , y_test)

0.34081201850419596

In [40]:
len(car_missing)

950

In [41]:
## missing missing values with scikit-learn

data2 = pd.read_csv("car-sales-extended-missing-data.csv")

In [42]:
data2.dropna(subset = ["Price"] , inplace = True )

In [43]:
data2.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [44]:
x = data2.drop("Price",axis=1)
y = data2["Price"]

In [45]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(x,y,test_size = 0.2)

pd.DataFrame(x)

       Make Colour  Odometer (KM)  Doors
0     Honda  White        35431.0    4.0
1       BMW   Blue       192714.0    5.0
2     Honda  White        84714.0    4.0
3    Toyota  White       154365.0    4.0
4    Nissan   Blue       181577.0    3.0
..      ...    ...            ...    ...
995  Toyota  Black        35820.0    4.0
996     NaN  White       155144.0    3.0
997  Nissan   Blue        66604.0    4.0
998   Honda  White       215883.0    4.0
999  Toyota   Blue       248360.0    4.0

[950 rows x 4 columns]

In [46]:
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

imputer_cat = SimpleImputer(strategy = "constant" , fill_value = "missing")
imputer_doors = SimpleImputer(strategy = "constant" , fill_value = 4)
imputer_odo = SimpleImputer(strategy = "mean")
cat = ["Make","Colour"]
four = ["Doors"]
mea = ["Odometer (KM)"]

In [47]:
imputer = ColumnTransformer([
    ("make",imputer_cat,cat),
    ("four",imputer_doors,four),
    ("mean",imputer_odo,mea)
])

In [48]:
filled_x_train = imputer.fit_transform(x_train)

In [49]:
filled_x_train

array([['Nissan', 'missing', 4.0, 206073.0],
       ['Toyota', 'White', 4.0, 14497.0],
       ['Honda', 'White', 4.0, 213324.0],
       ...,
       ['Toyota', 'Blue', 4.0, 230314.0],
       ['Nissan', 'missing', 4.0, 18994.0],
       ['BMW', 'White', 5.0, 84327.0]], dtype=object)

In [50]:
x_train = pd.DataFrame(filled_x_train,columns = ["Make","Colour","Doors","Odometer (KM)"])
x_train

       Make   Colour Doors Odometer (KM)
0    Nissan  missing     4        206073
1    Toyota    White     4         14497
2     Honda    White     4        213324
3     Honda    White     4        129652
4    Toyota    White     4        117637
..      ...      ...   ...           ...
755   Honda    White     4        129652
756  Nissan    White     4         51004
757  Toyota     Blue     4        230314
758  Nissan  missing     4         18994
759     BMW    White     5         84327

[760 rows x 4 columns]

In [51]:
filledx_test = imputer.transform(x_test)

In [52]:
filledx_test

array([['Toyota', 'Red', 4.0, 88571.0],
       ['Honda', 'Blue', 4.0, 143707.0],
       ['missing', 'Green', 4.0, 129651.65193370165],
       ['Toyota', 'White', 4.0, 117571.0],
       ['Nissan', 'Black', 4.0, 170777.0],
       ['Nissan', 'White', 4.0, 152215.0],
       ['Honda', 'Green', 4.0, 129651.65193370165],
       ['Toyota', 'White', 4.0, 231683.0],
       ['BMW', 'Green', 5.0, 112156.0],
       ['Honda', 'White', 4.0, 84714.0],
       ['Honda', 'White', 4.0, 237209.0],
       ['Toyota', 'White', 4.0, 124057.0],
       ['Nissan', 'White', 4.0, 193874.0],
       ['missing', 'Blue', 4.0, 216250.0],
       ['Toyota', 'White', 4.0, 110362.0],
       ['Toyota', 'Blue', 4.0, 226217.0],
       ['Toyota', 'White', 4.0, 248815.0],
       ['Honda', 'White', 4.0, 248301.0],
       ['Toyota', 'Blue', 4.0, 129651.65193370165],
       ['Toyota', 'Red', 4.0, 157432.0],
       ['Honda', 'White', 4.0, 186495.0],
       ['Toyota', 'White', 4.0, 122453.0],
       ['Toyota', 'Blue', 4.0, 14645.0],
       ['Honda', 'White', 4.0, 80664.0],
       ['BMW', 'White', 5.0, 194189.0],
       ['Nissan', 'White', 4.0, 116279.0],
       ['Toyota', 'White', 4.0, 193629.0],
       ['Honda', 'White', 4.0, 14700.0],
       ['Toyota', 'Red', 4.0, 68125.0],
       ['missing', 'Blue', 4.0, 166897.0],
       ['missing', 'White', 4.0, 138274.0],
       ['Honda', 'White', 4.0, 166028.0],
       ['Nissan', 'Green', 4.0, 233054.0],
       ['Honda', 'White', 4.0, 130783.0],
       ['Honda', 'missing', 4.0, 144093.0],
       ['BMW', 'White', 5.0, 168854.0],
       ['Honda', 'Blue', 4.0, 207344.0],
       ['missing', 'Red', 4.0, 97345.0],
       ['Honda', 'Blue', 4.0, 43981.0],
       ['Nissan', 'White', 4.0, 203795.0],
       ['Toyota', 'White', 4.0, 10217.0],
       ['Toyota', 'White', 4.0, 142633.0],
       ['Honda', 'White', 4.0, 64574.0],
       ['BMW', 'Blue', 5.0, 165375.0],
       ['Toyota', 'White', 4.0, 147230.0],
       ['Honda', 'White', 4.0, 71283.0],
       ['Toyota', 'Black', 4.0, 103472.0],
       ['Toyota', 'White', 4.0, 112292.0],
       ['Toyota', 'Blue', 4.0, 135080.0],
       ['Toyota', 'White', 4.0, 18812.0],
       ['Toyota', 'missing', 4.0, 118706.0],
       ['Toyota', 'Blue', 4.0, 200597.0],
       ['Toyota', 'Blue', 4.0, 225286.0],
       ['Honda', 'White', 4.0, 144088.0],
       ['Nissan', 'White', 4.0, 49310.0],
       ['BMW', 'Blue', 5.0, 50363.0],
       ['Toyota', 'Green', 4.0, 119394.0],
       ['Toyota', 'White', 4.0, 239760.0],
       ['Nissan', 'White', 3.0, 129651.65193370165],
       ['Nissan', 'White', 4.0, 129651.65193370165],
       ['Toyota', 'Blue', 4.0, 52054.0],
       ['Toyota', 'White', 4.0, 71805.0],
       ['Nissan', 'Blue', 4.0, 249860.0],
       ['Honda', 'Green', 4.0, 130075.0],
       ['Honda', 'Blue', 4.0, 232904.0],
       ['Nissan', 'Black', 4.0, 240536.0],
       ['Toyota', 'Green', 4.0, 146940.0],
       ['Nissan', 'Blue', 4.0, 38186.0],
       ['Toyota', 'Red', 4.0, 240017.0],
       ['Toyota', 'Blue', 4.0, 246817.0],
       ['Nissan', 'White', 4.0, 87997.0],
       ['Honda', 'White', 4.0, 43437.0],
       ['BMW', 'Blue', 3.0, 152772.0],
       ['Toyota', 'White', 4.0, 48184.0],
       ['Honda', 'White', 4.0, 40134.0],
       ['Honda', 'Red', 4.0, 169579.0],
       ['Honda', 'Blue', 4.0, 178863.0],
       ['Nissan', 'White', 3.0, 246825.0],
       ['Honda', 'White', 4.0, 11119.0],
       ['Toyota', 'Black', 4.0, 112622.0],
       ['Toyota', 'Red', 4.0, 197616.0],
       ['Honda', 'Blue', 4.0, 26824.0],
       ['Toyota', 'White', 4.0, 225284.0],
       ['Nissan', 'White', 4.0, 161699.0],
       ['Toyota', 'White', 4.0, 175955.0],
       ['Toyota', 'Black', 4.0, 35820.0],
       ['Nissan', 'Green', 4.0, 189739.0],
       ['Honda', 'Green', 4.0, 165101.0],
       ['Toyota', 'White', 4.0, 81656.0],
       ['Honda', 'Blue', 4.0, 76252.0],
       ['Nissan', 'Red', 4.0, 129651.65193370165],
       ['Honda', 'Red', 4.0, 164352.0],
       ['Nissan', 'Blue', 4.0, 124116.0],
       ['Honda', 'White', 4.0, 180390.0],
       ['missing', 'Blue', 4.0, 90249.0],
       ['Honda', 'missing', 4.0, 150582.0],
       ['Toyota', 'Green', 4.0, 218482.0],
       ['Honda', 'White', 4.0, 70154.0],
       ['Toyota', 'Blue', 4.0, 188658.0],
       ['Nissan', 'Blue', 3.0, 57558.0],
       ['Toyota', 'White', 4.0, 230943.0],
       ['Nissan', 'White', 4.0, 129883.0],
       ['Honda', 'Red', 4.0, 42652.0],
       ['Honda', 'White', 4.0, 219635.0],
       ['Toyota', 'White', 4.0, 129651.65193370165],
       ['Toyota', 'Blue', 4.0, 186309.0],
       ['Toyota', 'Blue', 4.0, 219420.0],
       ['Toyota', 'Blue', 4.0, 63501.0],
       ['Honda', 'Blue', 4.0, 78153.0],
       ['Toyota', 'White', 4.0, 185455.0],
       ['Honda', 'White', 4.0, 195829.0],
       ['Toyota', 'Blue', 4.0, 95993.0],
       ['missing', 'Blue', 4.0, 73926.0],
       ['BMW', 'Blue', 5.0, 245427.0],
       ['Toyota', 'Green', 4.0, 88598.0],
       ['Honda', 'White', 4.0, 67599.0],
       ['Toyota', 'Blue', 4.0, 38544.0],
       ['Nissan', 'Blue', 4.0, 71527.0],
       ['Nissan', 'Red', 4.0, 129651.65193370165],
       ['Toyota', 'White', 4.0, 61623.0],
       ['Nissan', 'Red', 4.0, 129651.65193370165],
       ['Honda', 'White', 4.0, 187380.0],
       ['Toyota', 'White', 4.0, 55828.0],
       ['Toyota', 'Red', 4.0, 86284.0],
       ['Toyota', 'Blue', 4.0, 177356.0],
       ['Honda', 'missing', 4.0, 223685.0],
       ['Toyota', 'White', 4.0, 148473.0],
       ['Toyota', 'missing', 4.0, 114202.0],
       ['Toyota', 'Blue', 4.0, 52196.0],
       ['missing', 'White', 4.0, 235294.0],
       ['Toyota', 'Red', 4.0, 184878.0],
       ['Toyota', 'Black', 4.0, 140756.0],
       ['Honda', 'White', 4.0, 115183.0],
       ['Honda', 'White', 4.0, 56534.0],
       ['Toyota', 'Blue', 4.0, 198570.0],
       ['BMW', 'Blue', 5.0, 244095.0],
       ['Honda', 'Blue', 4.0, 199833.0],
       ['BMW', 'Red', 5.0, 176660.0],
       ['Nissan', 'Blue', 4.0, 179666.0],
       ['BMW', 'Red', 5.0, 156064.0],
       ['Toyota', 'missing', 4.0, 86480.0],
       ['Toyota', 'Blue', 4.0, 213893.0],
       ['Honda', 'White', 4.0, 178134.0],
       ['Toyota', 'Blue', 4.0, 42480.0],
       ['Honda', 'Green', 4.0, 54721.0],
       ['Toyota', 'White', 4.0, 128294.0],
       ['BMW', 'White', 5.0, 176864.0],
       ['Toyota', 'missing', 4.0, 170466.0],
       ['Toyota', 'Blue', 4.0, 71306.0],
       ['Toyota', 'Blue', 4.0, 243969.0],
       ['Honda', 'White', 4.0, 164703.0],
       ['Honda', 'White', 4.0, 56523.0],
       ['Toyota', 'Blue', 4.0, 89641.0],
       ['Toyota', 'Blue', 4.0, 39753.0],
       ['Nissan', 'White', 4.0, 167421.0],
       ['Honda', 'White', 4.0, 224292.0],
       ['Toyota', 'Green', 4.0, 151291.0],
       ['Honda', 'White', 4.0, 29514.0],
       ['Toyota', 'White', 4.0, 124205.0],
       ['Honda', 'Black', 4.0, 16933.0],
       ['Toyota', 'Blue', 4.0, 165301.0],
       ['missing', 'White', 3.0, 152006.0],
       ['Toyota', 'Blue', 4.0, 103202.0],
       ['Toyota', 'White', 4.0, 129651.65193370165],
       ['Toyota', 'Blue', 4.0, 119311.0],
       ['missing', 'White', 4.0, 179727.0],
       ['BMW', 'Red', 5.0, 129651.65193370165],
       ['Toyota', 'Red', 4.0, 248634.0],
       ['Nissan', 'Black', 4.0, 59335.0],
       ['Honda', 'Black', 4.0, 119033.0],
       ['Nissan', 'Green', 4.0, 223555.0],
       ['Nissan', 'Blue', 4.0, 141962.0],
       ['Toyota', 'Blue', 4.0, 77646.0],
       ['Nissan', 'Blue', 4.0, 224410.0],
       ['Honda', 'Red', 4.0, 108794.0],
       ['Honda', 'White', 4.0, 161068.0],
       ['Nissan', 'White', 4.0, 40598.0],
       ['Toyota', 'Blue', 4.0, 98619.0],
       ['Honda', 'Green', 4.0, 47019.0],
       ['missing', 'White', 4.0, 130538.0],
       ['Toyota', 'Red', 4.0, 148518.0],
       ['Nissan', 'White', 4.0, 133441.0],
       ['Honda', 'Blue', 4.0, 127157.0],
       ['Toyota', 'Red', 4.0, 220026.0],
       ['BMW', 'Blue', 3.0, 63321.0],
       ['Honda', 'Blue', 4.0, 50417.0],
       ['Honda', 'missing', 4.0, 89291.0],
       ['Toyota', 'Blue', 4.0, 223875.0],
       ['Honda', 'White', 4.0, 129651.65193370165],
       ['Toyota', 'White', 4.0, 172018.0]], dtype=object)

In [53]:
x_test = pd.DataFrame(filledx_test,columns = ["Make","Colour","Doors","Odometer (KM)"])

In [54]:
x_test

        Make   Colour Doors Odometer (KM)
0     Toyota      Red     4         88571
1      Honda     Blue     4        143707
2    missing    Green     4        129652
3     Toyota    White     4        117571
4     Nissan    Black     4        170777
..       ...      ...   ...           ...
185    Honda     Blue     4         50417
186    Honda  missing     4         89291
187   Toyota     Blue     4        223875
188    Honda    White     4        129652
189   Toyota    White     4        172018

[190 rows x 4 columns]

In [55]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

In [56]:
encoder = OneHotEncoder()
column = ["Make","Colour","Doors"]
one = ColumnTransformer([("one1",encoder,column)],remainder = "passthrough")
x_train = one.fit_transform(x_train)

In [57]:
x_test = one.transform(x_test)

In [58]:
mod = RandomForestRegressor()
mod.fit(x_train,y_train)

RandomForestRegressor()

In [59]:
mod.score(x_test,y_test)

0.16247657794121628